* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('');
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.title {
    color: #333;
    font-size: 25px;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.register-btn {
    background: #030303;
    color: #0f0e0e;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.container {
    padding: 0 7%;
}

.header h1 {
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}

.search-bar {
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button {
    background-color: #040404;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img {
    width: 20px;
    margin-top: 5px;
}

.location-input {
    flex: 1;
}

.search-bar form label {
    font-weight: 600;
}

/*--------------------------*/
.sub-title {
    margin: 50px 0px 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px
}

.exclusive div img {
    width: 100%;
    border-radius: 15px;
}

/*-----------------------------*/
.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.trending div img {
    width: 100%;
    border-radius: 10px;
}

/*----------------------------*/
.service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.service div img {
    width: 30%;
    border-radius: 10px;
}

/*----------------------------*/
.Stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.Stories div img {
    width: 100%;
    border-radius: 10px;
}

.Stories div {
    position: relative;
    text-align: center;
}

.Stories p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}

/*-------------------------------- */
.start-btn {
    text-decoration: none;
    background: #141313;
    color: #040404;
    width: 50%;
    max-width: 200px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

/*-------------------------------- */
.aboutus {
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}

.aboutus h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}

/*-------------------------- */
.footer {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 5px;
    margin: 50px 0 5px;
    text-align: center;
}

.footer img {
    width: 3%;
    border-radius: 5px;
}

.footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

.footer hr {
    background: #999;
    height: 1px;
    margin: 20px 0px;
}

.footer p {
    padding-bottom: 15px;
}

/*---------------------------- */
.navbar-white {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar-white .nav-links li a {
    color: #000;
}

.navbar-white .register-btn {
    background: #070707;
    color: #fff;
}

/*-------------------------------- */
.list-container {
    margin-top: 50px;
    padding: 0 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col {
    flex-basis: 70%;
}

.right-col {
    flex-basis: 25%;
}

.left-col h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}

.place {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.place-img {
    flex-basis: 40%;
}

.place-info {
    flex-basis: 58%;
    color: #555;
}

.place-img img {
    width: 100%;
    border-radius: 12px;
}

.place-info h2 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.trip-btn {
    background: rgb(12, 12, 12);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 100px;
}

.price {
    text-align: right;
}

.price h4 {
    font-size: 20px;
}

.price h4 span {
    font-size: 16px;
    font-weight: 500;
}

/*---------------------------- */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.pagination img {
    width: 15px;
    margin: 10px 20px;
}

.right-arrow {
    transform: rotate(180deg);
}

.pagination span {
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.pagination .current {
    background: #333;
    color: #fff;
}

/*----------------------------*/
.register-btn2 {
    background: #ff5361;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 150px;
}