* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

body {

    min-height: 100vh;

    display: flex;

    align-items: center;

    Justify-content: center;
    padding: 20px;

    background: url("Royal\ Enfield\ hunter-350.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {

    position: relative;
    width: 700px;
    width: 50%;
    padding: 25px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container header {

    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    text-align: center;

}

.container.form {

    margin-top: 30px;

}

.input-box input {
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.input-box input::placeholder {
    color: #fff;
}

.form input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {

    color: #fff;

}

.form :where(.input-box input, .select-box) {

    position: relative;

    height: 50px;

    width: 100%;

    outline: none;

    font-size: 1rem;

    color: #707070;

    margin-top: 8px;

    border: 1px solid #ddd;

    border-radius: 6px;

    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}

.form .column {

    display: flex;
    column-gap: 15px;
}

.form-gender-box {
    margin-top: 20px;
}

gender-box h3 {

    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;

}

.form :where(.gender-option, .gender) {
    column-gap: 50px;
    display: flex;
    align-items: center;

    flex-wrap: wrap;

}

.form.gender {

    column-gap: 5px;

}

.gender input {

    accent-color: red;

}

.form :where(.gender input, gender label) {
    cursor: pointer;
}

.gender label {

    color: #fff;
}

.address :where(input, .select-box) {

    margin-top: 15px;
}


.form button {

    height: 55px;

    width: 100%;

    color: #666;

    font-size: 1.5rem;

    font-weight: 400;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.25 ease;
    background: white;

}


@media screen and (max-width: 500px) {

    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {

        row-gap: 15px;

    }
}